.forms-select {
	@apply block 
		w-full 
		py-2 px-3 
		text-primary-200 font-semibold sm:text-sm
		border-2 border-transparent 
		bg-primary-700 
		rounded-lg 
		hover:shadow-lg 
		focus:shadow-lg 
		focus:outline-none 
		focus:border-primary-500
		hover:border-primary-500
		placeholder-primary-400
		disabled:hover:border-transparent disabled:opacity-60 
		disabled:cursor-default disabled:shadow-none;
}

.forms-input-text {
	@apply px-4 py-2
		text-sm font-semibold
		text-primary-200 placeholder-primary-400
		bg-primary-700 
		w-full 
		rounded-lg 
		border-2 border-transparent 
		hover:shadow-lg 
		focus:shadow-lg 
		focus:outline-none 
		hover:border-primary-500
		focus:border-primary-500
		disabled:hover:border-transparent disabled:opacity-60 
		disabled:cursor-default disabled:shadow-none;
}

.forms-helper-scale {
	@apply transform active:scale-95 disabled:active:scale-100;
}

.forms-button {
	@extend .forms-helper-scale;

	@apply px-5
		py-2
		rounded-lg
		transition-all duration-75
		text-primary-200 
		font-semibold
		border-2 border-primary-700 
		hover:border-primary-500
		focus:outline-none
		focus:border-primary-500
		disabled:hover:border-transparent disabled:opacity-75 
		disabled:cursor-default disabled:shadow-none
		bg-primary-700
		hover:shadow-lg;
}

.forms-button-text {
	@extend .forms-helper-scale;

	@apply text-primary-400 
		font-semibold text-xs 
		opacity-75
		hover:opacity-50  active:opacity-100 
		focus:outline-none;
}

.forms-main-button {
	@extend .forms-helper-scale;

	@apply px-5
		py-2
		rounded-lg
		transition-all duration-75
		text-primary-100 
		font-semibold 
		bg-gradient-to-b from-primary-500 to-primary-600
				  active:from-primary-700 active:to-primary-800 
		shadow-lg;
}

.forms-label {
	@apply block text-sm font-semibold text-primary-300 mb-2;
}

.forms-label-xs {
	@extend .forms-label;
	@apply text-xs;
}

.forms {
	select {
		@extend .forms-select;
	}

	button {
		@extend .forms-button;
	}

	input {
		@extend .forms-input-text;
	}

	label {
		@extend .forms-label;
	}
}
