.fade-enter-active, .fade-leave-active {
	@apply transition;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	@apply opacity-0;
}

.fade-to {
	@apply opacity-100;
}

.transition-margin-left {
	transition: margin-left 300ms ease;
	will-change: margin-left;
}

.transform-off-screen-left {
	transform: translateX(-100%);
}

@media (min-width: 768px) {
	.md\:transform-off-screen-left {
		transform: translateX(-100%);
	}

	.md\:ml-1\/5 {
		margin-left: 20%;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bell-active::after {
	content: ' ';
	display: block;
	position: absolute;
	width: 0.2rem;
	background: red;
	height: 0.2rem;
}

.router-link-active .bell-router-link {
	@apply text-main-light;
}

.control-icon {
	@apply text-main-dark;

	svg {
		@apply w-8 fill-current;
	}
}
