.fade-enter-active,
.fade-leave-active {
	@apply transition;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	@apply opacity-0;
}

.fade-to {
	@apply opacity-100;
}

.transition-margin-left {
	transition: margin-left 300ms ease;
	will-change: margin-left;
}

.transform-off-screen-left {
	transform: translateX(-100%);
}

@media (min-width: 768px) {
	.md\:transform-off-screen-left {
		transform: translateX(-100%);
	}

	.md\:ml-1\/5 {
		margin-left: 20%;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slide-in {
	from {
		opacity: 0;
		transform: translateX(100%);
	}
	to {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes slide-out {
	from {
		transform: translateX(0%);
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translateX(100%);
	}
}

.slide-enter-active {
	will-change: contents;
	animation: slide-in ease-out 200ms;
}
.slide-leave-active {
	will-change: contents;
	animation: slide-in ease-out 150ms reverse;
}

.bell-active::after {
	content: ' ';
	display: block;
	position: absolute;
	width: 0.2rem;
	background: red;
	height: 0.2rem;
}

.router-link-active .bell-router-link {
	@apply text-main-light;
}

.control-icon {
	@apply text-main-dark;

	svg {
		@apply w-8 fill-current;
	}
}

.hide-input-controls {
	@apply appearance-none;

	-moz-appearance: textfield;
}
